.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.image {
    height: 400px;
    margin: auto;
}

h1 {
    margin: 24px auto;
}

h2 {
    color: grey;
    margin: auto;
}

.content {
    margin: 24px auto;
    width: 66vw;
}